.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    margin-right: 5px;
    width: 38%;
}

.input {
    display: flex;
    align-items: center;
}

.container {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 1em;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    border: 1px solid black;
    padding: 1em 1em 2em;
    margin: 10px;
    font-size: small;
    font-weight: bold;
    line-height: 1.4em;
    width: 20%;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    padding-bottom: .5em;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: beige;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

#addProductForm {
    padding-top: 1em;
    width: 100%;
}

h2 {
    margin-left: 15px;
    margin-bottom: unset;
}

.info {
    font-size: small;
    color: red;
}

.description {
    font-size: small;
    padding-top: 1em;
}

footer {
    display: flex;
    max-height: 60px;
    width: 100%;
    position: fixed;
    background-color: beige;
    justify-content: center;
    border-top: 1px solid black;
    bottom: 0;
}

.footer-text {
    display: flex;
    margin: 2em;
    font-weight: bold;
    font-size: small;
}

.buttons {
    display: inherit;
    flex-direction: row;
    align-items: inherit;
    margin-right: 15px;
}

button {
    margin: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#delete-button {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}

